<link rel="stylesheet" href="/static/css/auth.css">

<div class="card">
    <h2>Reset Password</h2>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for m in messages %}
          <div class="flash">{{ m }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="post">
        <input name="otp" placeholder="OTP" required>
        <input type="password" name="password" placeholder="New Password" required>
        <button>Reset Password</button>
    </form>

    <div class="auth-links">
        <a href="{{ url_for('login') }}">Back to Login</a>
    </div>
</div>
